<div style="position:relative;">
    <div class="grey-filter" ng-show="!vm.infos.isRunning"></div>
    <div class="restart-btn" ng-show="!vm.infos.isRunning">
        <button ng-click="vm.restartGame()">Restart</button>
    </div>    
    <div id="canvascontainer">
    </div>
</div>
