.grey-filter {
	position: absolute;
	background-color: rgb(0, 0, 0); 
	opacity: 0.3; 
	width: 322px; 
	height: 182px;
}
.restart-btn {
	position: absolute; 
	padding-top: 75px; 
	padding-left: 120px;
}
#canvas-flappybird {
	border: 5px solid black;
  border-radius: 5px;
  display: block;
}
#canvas-tetris{
  display: block;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #2F4F4F;
}